<!doctype html>
{% load static %}
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>home</title>
    <link rel="stylesheet" href="{% static "test_page/css/test_page.css" %}"/>
  </head>
  <body>
    <header>
      <ul>
        <li class='header_class'><a href={%url 'home:home'%}>home</a></li>
        <li class='header_class'><a href={%url 'app_1:app_1_index'%}>app_1</a></li>
        <li class='header_class'><a href={%url 'test_page:test_page'%}>テストページ</a></li>
      </ul>
    </header>


    <h1>test_pageを表示</h1>
      <ul>
        <li><a href={%url 'home:home'%}>home</a></li>
        <li><a href={%url 'app_1:app_1_index'%}>app_1</a></li>
        <li><a href={%url 'test_page:test_page'%}>テストページ</a></li>
      </ul>
  <p>1aaaaaaa</p>
  <p>2aaaaaaa</p>
  <p>3aaaaaaa</p>
  <p>4aaaaaaa</p>
  <p>5aaaaaaa</p>
  <p>6aaaaaaa</p>
  <p>7aaaaaaa</p>
  <p>8aaaaaaa</p>
  <p>9aaaaaaa</p>
  <p>10aaaaaaa</p>
  <p>11aaaaaaa</p>
  <p>12aaaaaaa</p>
  <p>13aaaaaaa</p>
  <p>14aaaaaaa</p>
  <p>15aaaaaaa</p>
  <p>16aaaaaaa</p>
  <p>17aaaaaaa</p>
  <p>18aaaaaaa</p>
  <p>19aaaaaaa</p>
  </body>
</html>



