<!doctype html>
{% load static %}
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>home</title>
    <link rel="stylesheet" href="{% static "test_page/css/test_page.css" %}"/>
  </head>
  <body>
    <header>
      <ul>
        <li class='header_class'><a href={%url 'home:home'%}>home</a></li>
        <li class='header_class'><a href={%url 'app_1:app_1_index'%}>app_1</a></li>
        <li class='header_class'><a href={%url 'test_page:test_page'%}>テストページ</a></li>
      </ul>
    </header>


    <h1>homeを表示</h1>
      <ul>
        <li><a href={%url 'home:home'%}>home</a></li>
        <li><a href={%url 'app_1:app_1_index'%}>app_1</a></li>
        <li><a href={%url 'test_page:test_page'%}>テストページ</a></li>
      </ul>
  <p>aaaaaaa</p>
  <p>aaaaaaa</p>
  <p>aaaaaaa</p>
  <p>aaaaaaa</p>
  <p>aaaaaaa</p>
  <p>aaaaaaa</p>
  <p>aaaaaaa</p>
  <p>aaaaaaa</p>
  <p>aaaaaaa</p>
  <p>aaaaaaa</p>
  <p>aaaaaaa</p>
  <p>aaaaaaa</p>
  <p>aaaaaaa</p>
  <p>aaaaaaa</p>
  <p>aaaaaaa</p>
  <p>aaaaaaa</p>
  <p>aaaaaaa</p>
  <p>aaaaaaa</p>
  <p>aaaaaaa</p>
  </body>
</html>



