{% extends 'mainpage/mainpage.html' %}
{% load boost %}
{% block content %}
<div class="group_containts">
    
    <h1 class="project_name">{{selected_project.projectlist.project_name}}</h1>
    {% load static %}
    <a href="/mainpage/project_{{project_uuid}}/setting"><img class="setting" src="{% static 'pic/setting.png' %}" alt="Setting"></a>
    {% if admin_or_not == 1 %}
    <a href="/mainpage/project_{{project_uuid}}/invite?usr={{userdata}}"><img class="invite" src="{% static 'pic/invite.png' %}" alt="invite"></a>
    {% endif %}
    <!--ユーザーが管理者かどうかを判別、管理者なら新しいグループを作成できるようにする-->
    {% if admin_or_not == 1 %}

    <div class="container">
        <div class="new_group">
            <a class="to_new" href="/mainpage/project_{{project_uuid}}/creategroup">新しいグループを作成する</a>
        </div>
        {% endif %}
        <!--グループはgroupnameにクエリパラメータを渡してページ遷移-->
        <!--プロジェクトがクリックされると表示されるプロジェクトに入っているグループのリスト-->
        {% for group , statuss in groups|zip:status_list %}
        <div class="groups">
            <a href="/mainpage/project_{{project_uuid}}/grouppage_{{group.uuid}}">{{group.group_name}}</a><br>
            <div class="groupmember">
                <ul class="groupmember_content">
                    {% for status in statuss %}
                    <p class="member_name">{{status.name}}</p>
                    <p class="member_status">{{status.status}}</p>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% endfor %}
    </div>
    <br>

</div>
{% endblock %}