{% extends 'mainpage/mainpage.html' %}

{% block content %}
<br>
<a href="">プロジェクト設定</a>
<p>{{project_name.project_name}}に存在しているグループ一覧</p>
<!--ユーザーが管理者かどうかを判別、管理者なら新しいグループを作成できるようにする-->
{% if admin_or_not == 1 %}
<a href="/mainpage/project_{{project_name.uuid}}/creategroup">新しいグループを作成する</a><br>
{% endif %} 

<!--グループはgroupnameにクエリパラメータを渡してページ遷移-->
{%for group in groups%}
<a href="/mainpage/project_{{project_name.uuid}}/grouppage?groupname={{group.uuid}}">{{group.group_name}}</a><br>
{% endfor %}
{% if admin_or_not == 1 %}
<a href="/mainpage/project_{{project_name.uuid}}/invite?usr={{userdata}}">{{project_name.project_name}}にメンバーを招待する</a>
{% endif %}

{% endblock %}
