{% extends 'mainpage/mainpage.html' %}
{% load boost %}
{% block content %}
<br>
<a href="/mainpage/project_{{project_uuid}}/setting">プロジェクト設定</a>
<p>{{selected_project.projectlist.project_name}}に存在しているグループ一覧</p>
<!--ユーザーが管理者かどうかを判別、管理者なら新しいグループを作成できるようにする-->
{% if admin_or_not == 1 %}
<a href="/mainpage/project_{{project_uuid}}/creategroup">新しいグループを作成する</a><br>
{% endif %} 

<!--グループはgroupnameにクエリパラメータを渡してページ遷移-->
<!--プロジェクトがクリックされると表示されるプロジェクトに入っているグループのリスト-->
{% for group , statuss in groups|zip:status_list %}
<a href="/mainpage/project_{{project_uuid}}/grouppage_{{group.uuid}}">{{group.group_name}}</a><br>
<table>
    <tr>
        <th>名前</th>
        <th>ステータス</th>
    </tr>
    {% for status in statuss %}
    <tr>
        <td>{{status.name}}</td>
        <td>{{status.status}}</td>
    </tr>
    {% endfor %}
</table>
<br>
{% endfor %}
<br>
{% if admin_or_not == 1 %}
<a href="/mainpage/project_{{project_uuid}}/invite?usr={{userdata}}">{{selected_project.projectlist.project_name}}にメンバーを招待する</a>
{% endif %}

<!--グループメンバー(オフライン以外)の人間がどこにいるのかを一覧できるテーブル
<table>
    <tr>
        <th>名前</th>
        <th>ステータス</th>
    </tr>
    {% for a in debug %}
    <tr>       
        <td>{{a.name}}</td>
        <td>{{a.status}}</td>
    </tr>
    {% endfor %}
</table>
-->




{% endblock %}
