{% extends 'mainpage/mainpage.html' %}
{% block content %}
{% load static %}
<div class="group_containts">
    <h1>{{project.project_name}}にメンバーを招待する</h1>


    <!-- formのクラスはform-controlだよ-->

    <p>{{msg|safe}}</p>
    <div>
        <form action="/mainpage/project_{{project.uuid}}/invite?usr={{user}}" method="post">
            {% csrf_token %}
            <div class="invite_id">
                <p>招待したいメンバーのID</p>
                {{form_serch_user}}
            </div>
            <div class="invite_message">
                <p>招待メッセージ</p>
                {{form_message}}
                <input class="btn btn-info invitebtn" type="submit" value="招待">
            </div>
        </form>
    </div>

    <a href="/mainpage/project_{{project.uuid}}">メインページに戻る</a>
</div>
{% endblock %}