{% load static %}
<! dtype html >
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
    </head>
    <body>
        <h1>mainpageです</h1>
        {% if user.is_authenticated %}

        <a  href="{% url 'sign_in:sign_out' %}">Sign out</a>
        <p>ようこそ{{ userdata }}さん</p>
        <a  href="/mainpage/notice/">通知</a>
        <p>参加しているプロジェクト一覧</p>
        <a href="{% url 'mainpage:create_project' %}">新しいプロジェクトを作成する</a><br>
        {%for project in projects%}
        <a href="/mainpage/project_{{project.projectlist.uuid}}">{{project.projectlist.project_name}}</a><br>
        {% endfor %}
        <!--↓group一覧はmainpageを後から挿入する形にする-->
        {% block content %}
        {% endblock %}

    {% else %}
    <p><a  href="{% url 'sign_in:sign_in' %}">Sign in</a>が必要なページです</p>
    {% endif %}
    </body>
</html>


