{% load static %}
<! dtype html >
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
    </head>
    <body>
    <h1>mainpageです</h1>
    {% if user.is_authenticated %}

    <a  href="{% url 'sign_in:sign_out' %}">Sign out</a>
    <p>ようこそ{{ userdata }}さん</p>
    <a  href="/mainpage/notice/notice">通知</a>
    <p>参加しているプロジェクト一覧</p>
    {%for item in project%}
    <a href="/mainpage/project_{{item.projectlist}}">{{item.projectlist}}</a><br>
    {% endfor %}
    <p>{{debug}}</p>
    






    {% else %}
    <p><a  href="{% url 'sign_in:sign_in' %}">Sign in</a>が必要なページです</p>
    {% endif %}
    </body>
</html>


