{% extends 'mainpage/project_settings_base.html' %}
{% block setting %}
<p>グループページで表示される名前を変更できます</p>
<p>新しい名前を入力</p>
<div class="chat_container">
    <form action="/mainpage/project_{{project_uuid}}/setting/display_name" method="post">
        {% csrf_token %}
        <div class="form-group chat_content">
            {{form}}</div>
        <div class="chat_input chat_content">
            <input class="btn btn-info" type="submit" value="変更する">
        </div>
    </form>
</div>
<p>{{message}}</p>
{% endblock %}