@charset "utf-8";


.side_ber {
	padding: 10px;
	height: 1080px;
	background: #86CB8F 0% 0% no-repeat padding-box;
}
.side_ber_btn{
	width: 97%;
	height: auto;
	text-align: center;
	font: normal normal normal 1.8em/1em Segoe UI;
	letter-spacing: 0px;
	color: #FFFFFF;
	background: #4B8B56 0% 0% no-repeat padding-box;
	border-radius: 9px;
	opacity: 1;
}

.maincontent {
	padding: 10px;
	height: 1080px;
	background: #929292
}

.title h1{
    font: normal normal normal 258px/320px Ink Free;
    font-weight: bolder;
    letter-spacing: 35.86px;
	color: #FFFFFF;
    opacity: 1;
	text-align: center;
}
