{% load static %}
<! dtype html >
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
    </head>
    <body class="container">
        <h1>{{title}}</h1>
        <h2>{{message}}</h2>
        <form action="{%url 'app3:toppage'%}" method="POST">
            {%csrf_token%}
            {{form}}
            <input type="submit" value="click">
        </form>
        <table class='table'>
            <tr>            
                <th>ID</th>
                <th>NAME</th>
                <th>GENDER</th>
                <th>MAIL</th>
                <th>AGE</th>
                <th>BIRTHDAY</th>
            </tr>
        {% for item in data %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{% if item.gender == False %}mail{% endif %}
                    {% if item.gender == True %}femail{% endif %}
                </td>
                <td>{{item.mail}}</td>
                <td>{{item.age}}</td>
                <td>{{item.birthday}}</td>
            </tr>
        {% endfor %}
        </table>

    </body>
</html>
