{% load static %}
<! dtype html >
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
    </head>
    <body>
    <h1>{{projectname}}/{{groupname}}</h1>
    <h2>設定:グループ名変更</h2>

    現在のグループ名:{{groupname}}

    <form action="/mainpage/project_{{projectid}}/grouppage_{{group.uuid}}/group_namechange/" method="post">
        {% csrf_token %}
    {{form}}
    <input type="submit" value="名前変更">

    
    <br><br>
    <a href="/mainpage/project_{{projectid}}/grouppage_{{group.uuid}}/group_settings">グループ設定に戻る</a><br>
    <a href="/mainpage/project_{{projectid}}/grouppage_{{group.uuid}}">グループページに戻る</a><br>
    <a href="/mainpage/project_{{projectid}}">プロジェクトページに戻る</a>


    </body>
</html>


