{% load static %}
<! dtype html >
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
    </head>
    <body>
    <h1>{{groupname}}です</h1>
    <h2>活動中</h2>
    <table>
        <tr>
            <th>ユーザー名</th>
            <th>ステータス</th>
        </tr>
        {% for status in statuses %}
        <tr>
            <td>{{status.userlist}}</td>
            <td>{{status.status}}</td>
        </tr>
        {% endfor %}

    </table>
    <a href="">グループ設定</a>
    <a href="/mainpage/project_{{projectid}}">プロジェクトページに戻る</a>

    </body>
</html>


