{% extends 'mainpage/mainpage.html' %}
{% block content %}
{% load static %}
<div class="group_containts">
    <h1 class="project_name">{{projectname}} / {{groupname}}</h1>
    {% if displayname_role.role == 1 %}
    <a href="/mainpage/project_{{projectid}}/grouppage_{{group.uuid}}/group_settings"><img class="setting"
            src="{% static 'pic/setting.png' %}" alt="Setting"></a>
    {% endif %}
    <div class="uesr_info">
        <p>自分の名前 : {{displayname_role.displayname}}</p>
        <p>自分の役職 : {% if displayname_role.role == 1 %}管理者{%else%}メンバー{%endif%}</p>
    </div>
    <div class="status_detail_container">
        <table class="table">
            <tr>
                <th></th>
                <th>ユーザー名</th>
                <th>ステータス</th>
                <th>書き置き</th>
                <th>最終更新</th>
            </tr>
            {% for contain in contains %}
            <tr>
                {% if contain.role == 1 %}
                <td>★</td>
                {% else %}
                <td></td>
                {% endif %}
                <td>{{contain.username}}</td>
                <td>{{contain.status}}</td>
                <td>{{contain.message}}</td>
                <td>{{contain.latest_action}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>ステータス更新<br>
    <div class="statuses_container">
        {%for status_detail in status_details %}
        <div class="status_detail"><a class="detail_txt"
                href="/mainpage/project_{{projectid}}/grouppage_{{group.uuid}}?status={{status_detail.detail}}">{{status_detail.detail}}</a>
        </div>
        {% endfor %}
    </div>
    <div>
        <p>書き置き</p>
        <div class="chat_container">
            <form action="/mainpage/project_{{projectid}}/grouppage_{{group.uuid}}/" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group chat_content">
                    {{field}}
                </div>
                {% endfor %}
                <div class="chat_input chat_content">
                    <input class="btn btn-info" type="submit" value="送信">
                </div>
        </div>
    </div>
    <a href="/mainpage/project_{{projectid}}">プロジェクトページに戻る</a>
</div>

{% endblock %}